/*Header styling*/
.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: auto;
    height: auto;
    background-color: rgb(227, 170, 236);
    color: black;
    transition: left 0.5s ease-in-out;
    padding: 2em;
    z-index: 1000;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-top: none;
}

.side-menu a {
    display: block;
    color: black;
    padding: 1em;
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav i {
    font-size: 2em;
}

#hamburgerIcon:hover {
    cursor: pointer;
}

/*Main styling*/
html {
    font-family: "homenaje";
}

body {
    background-color: rgb(227, 170, 236);
    text-align: center;
}

#feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
    background-color: white;
    border-radius: 25px;
    padding: 2em;
}

.post img {
    width: 20em;
}

#feedContainer .author-avatar {
    width: 4em;
    border-radius: 50px;
}

#feedContainer a {
    text-decoration: none;
    color: black;
}

/*Footer styling*/
/*Button*/
.primary-button,
.secondary-button {
    border-radius: 25px;
    border-style: none;
    padding: 1em 2em;
}

.primary-button {
    background-color: rgb(227, 170, 236);
}

.secondary-button {
    background-color: rgb(170, 236, 227);
}

.primary-button:hover,
.secondary-button:hover,
.edit-button:hover,
.delete-button:hover {
    cursor: pointer;
}

.edit-button,
.delete-button {
    background-color: rgb(227, 170, 236);
    border-radius: 25px;
    border-style: none;
    padding: 1em 2em;
}

.border {
    height: 2px;
    background-color: black;
    width: 100%;
}